<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net461" />
  <package id="NUnit" version="3.12.0" targetFramework="net461" />
  <package id="ReportPortal.Client" version="2.1.15" targetFramework="net461" />
  <package id="ReportPortal.Extensions.Selenium" version="1.0.0" targetFramework="net461" />
  <package id="ReportPortal.Extensions.SourceBack" version="1.0.14" targetFramework="net461" />
  <package id="ReportPortal.NUnit" version="3.7.10" targetFramework="net461" />
  <package id="ReportPortal.Shared" version="2.4.4" targetFramework="net461" />
  <package id="Selenium.Support" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="3.12.0" targetFramework="net461" />
  <package id="Selenium.WebDriver.ChromeDriver" version="77.0.3865.4000" targetFramework="net461" />
  <package id="Shouldly" version="3.0.2" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net461" />
  <package id="System.Reflection.Metadata" version="1.6.0" targetFramework="net461" />
</packages>